@media only screen and (max-width: 840px) {
    /* For mobile phones: */
    body{
      width: 100%;

      *background-color: red;
    }
    .logo img{
      width: 90%;
    }
    .nav-link{
      width: 90%;
      
    }
    .nav-link li a{
      
      font-size: 22px;
      margin-right: 25px;
    }
    .hero-img{
      height: 600px;
    }

    section{
      height: 1700px;
      *background-color: blue;
      margin-bottom: 400px;
    
    }
    .portfolio{
      height: 2000px;
    }
   
    .inner-portfolio .head{
      margin-bottom:-20px;
      justify-content: space-around;
    align-items: center;
    display: flex;
    }
    .inner-portfolio .head h2{
    
    justify-content: space-around;
    align-items: center;
    display: flex;
 
    }
    .main-projects{
      width: 100%;
      flex-grow: wrap;
   
    }
    .body{
      width: 100%;
      margin-bottom: 200px;
      height: 600px;
    }

    .body .inner-body{
      height: 600px;
      margin-top: 1000px;
      width:100%;
    }


   


    .first-section{
      margin-top: 500px;
    }

    .section-two .first-section img{
      width: 80%;
  }

  .section-two{
    height: 500px;
   
  
    justify-content: space-around;
    align-items: center;
    display: flex;

  }


  .first-section img{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: -500px;
  }

  .footer{
 
  }

 


  }

  @media only screen and (max-width: 375px){
    body{
      width: 100%;

      background-color: red;
    }
    .nav{
      width: 100%;
    }
    .logo{
      width: 20%;
    }
    .logo img{
      width: 90%;
    }
    .nav-link{
      width: 60%;
      
    }
    .nav-link li a{
      
      font-size: 12px;
      margin-right: 25px;
    }
    .hero-img{
      height: 400px;
    }
    .highlighted{
      height: 1px;
      
    }
    .arrow{
     height: 10px;
    }
    section{
      height: 1700px;
      background-color: blue;
      margin-bottom: 400px;
    
    }
    .inner-portfolio{
      margin-top: -100px;
    }
    .inner-portfolio .head{
      margin-bottom:20px;
    }
    .main-projects{
      width: 100%;
      flex-grow: wrap;
   
    }

  }



